
/*   Variables   */

:root{
	--basic-red: #EE3643;
	--basic-red-dark: #CA2C37;
	--basic-dark-blue: #32425C;
	--basic-dark-blue-darker: #293449;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-greylight: #C5C5C5;
	--basic-background: #F1F5F7;
	--basic-background-light: #F2F6F8;
	--basic-background-faded: rgba(241, 245, 247, 0.5);
	--white: #FFF;
	--black: #000;
	--faded-white: rgba(255, 255, 255, 0.5);
	--faded-grey:  rgba(0, 0, 0, 0.3);
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-yellow-lighten: #FFC047;
	--special-blue-dark: #1D2739;
	--special-background-light: #F3F7F9;
	--special-one-more-grey: #E5E5E5;
	--special-grey-light: #EAEAEA;
	--special-beige: #F9F5F0;
	--special-beige-dull: #F7F3EC;
	--special-beige-light: #FFDA96;
	--special-beige-light-faded: rgba(255, 218, 150, 0.5);
	--special-grey: #A9A9A9;
	--special-blue-inset: #405069;
	--special-red-light: #ee3643;
	--success: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
}

/*   Font-Cuprum   */

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprum.woff2") format("woff2"), 
  		url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumbold.woff2") format("woff2"), 
  		url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumbolditalic.woff2") format("woff2"), 
  		url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumitalic.woff2") format("woff2"), 
  		url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*   Font-Pt-sans   */

@font-face {
    font-family: "PT Sans";
    src: 
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src:
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/*   Buttons   */

.red-button{
	background-color: var(--basic-red);
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
}

.red-button:hover{
	background: var(--basic-red-dark);
}

.red-button:focus{
	background: var(--error);
}

.white-button{
	background-color: var(--white);
	text-align: center;

	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: var(--black);
}

.white-button:hover{
	color: var(--basic-red);
}

.white-button:focus{
	color: var(--basic-greylight)
}

/*   Global   */

.page-body{
	font-family: "Cuprum";
	background-color: var(--white);
}

/*   Header   */

.main-header{
	background-color: var(--basic-background);
}

.main-header-top{
	background-color: var(--basic-dark-blue-darker);
}

.main-header-logo{
	padding: 20px 45px;
	background: var(--basic-red);
	text-align: center;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	text-decoration: none;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
	color: var(--white);
	text-transform: uppercase;
}

.main-header-logo:focus{
	background: var(--error);
}

.search{

}

.bookmarks{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
}

.bookmarks:focus{
	color: var(--faded-white);
}

.basket{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
}

.basket-full{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
	background-color: var(--basic-red);
}

.basket:focus{
	color: var(--faded-white);
}

.order{
	background: var(--basic-green);
	text-align: center;

	font-size: 18px;
	line-height: 24px;
	text-transform: none;
	text-decoration: none;
	color: var(--white);
}

.order:hover{
	background: var(--success);
}

.order:focus{
	background: var(--basic-green);
	color: var(--faded-white);
}

.main-title{
	width: 197px;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	list-style: 23px;
	color: var(--basic-red);
}

.header-phone{
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	text-decoration: none;
	text-align: center;

	background: var(--special-background-light);
	border: 3px solid var(--white);
	box-sizing: border-box;
}

.header-address{
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: var(--basic-dark-blue);
}

.main-nav{
	width: 940px;
	background-color: var(--basic-dark-blue);
	box-shadow: inset 0px -5px 0px var(--basic-dark-blue-darker);
}

.site-nav{
	list-style: none;
}

.nav-link{
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
}

.nav-link:hover{
	background: var(--basic-dark-blue-darker);
}

.nav-link:focus{
	background: var(--special-blue-dark);
	color: var(--faded-white);
}

/*   Main   */

.offers-list{
	list-style: none;
}

.offers-item{
	width: 300px;
}

.offers-item-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--white);
}

.offers-item-link{
	background-color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: var(--white);
	text-transform: uppercase;
}

.offers-item-link:hover{
	background: rgba(197, 197, 197, 0.3);
}

.offers-item-link:focus{
	background: rgba(169, 169, 169, 0.3);
}

.offers-wrapper-top .offers-item:nth-of-type(1){
	background-color: var(--special-yellow);
}

.offers-wrapper-top .offers-item:nth-of-type(2){
	background-color: var(--special-blue);
}

.offers-wrapper-top .offers-item:nth-of-type(3){
	background-color: var(--special-lilac);
}

.offers-wrapper-right .offers-item:nth-child(1){
	background-color: var(--special-greenlight);
}

.offers-wrapper-right .offers-item:nth-child(2){
	background-color: var(--special-yellow-lighten);
}

.slider{
	width: 620px;
}

.slider-top{
	background-color: rgba(0, 0, 0, 0.25);
}

.slider-title{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--white);
	text-transform: uppercase;
}

.slider-text{
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
}

.products-list{
	list-style: none;
}

.popular-firms-list{
	list-style: none;
}

.products-item{
	background: var(--white);
	border: 1px solid var(--special-grey-light);
	font-family: "PT Sans";
	font-weight: bold;
}

.popular-firms-item{
	background: var(--white);
	border: 1px solid var(--special-grey-light);
	margin-top: 10px;
}

.popular-firms-item:hover{
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-firms-item:focus{
	opacity: 0.5;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-header{
	background: var(--special-beige);
}

.popular-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-dark-blue);
	font-weight: normal;
}

.products-last-price{
	color: var(--special-grey);
	text-decoration: line-through;
}

.services{
	background: var(--basic-background);
	width: 1200px;
}

.services-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.services-buttons-list{
	list-style: none;
}

.services-button{
	width: 240px;
	background: var(--basic-dark-blue);
	border: none;
	box-shadow: none;
	text-align: left;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: var(--white);
	box-shadow: 0px 1px 0px 0px var(--basic-dark-blue-darker);
	box-shadow: 0px 1px 0px 0px var(--special-blue-inset) inset;

}

.services-button:hover{
	background:var(--basic-dark-blue-darker);
}

.services-button:focus{
	outline: none;
}

/*Active button*/{
	color: var(--basic-dark-blue);
	background: var(--white);
	box-shadow: 0px 1px 0px 0px var(--white);
}

.services-button-selected-title{
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-dark-blue);
	font-weight: normal;
	text-transform: uppercase;	
}

.services-button-selected-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.about-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.about-list-item{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0px;
}

.about-button{
	width: 220px;
}

.contacts-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.contacts-button{
	width: 300px;
}

/*   Footer   */

.main-footer{
	background: var(--basic-dark-blue);
}

.main-footer-logo{
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	text-align: center;
	color: var(--white);
	font-size: 32px;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-address{
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-background);

}

.footer-phone{
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-background);
}

.footer-nav-up{
	list-style: none;
}

.footer-nav-up-link{
	color: var(--basic-background);
	text-decoration: none;
}

.footer-nav-up-link:hover{
	text-decoration: underline;
}

.footer-nav-up-link:focus{
	color: var(--basic-background-faded);
	text-decoration: none;
}

.footer-nav-down{
	list-style: none;
}

.footer-nav-down-link{
	color: var(--special-beige-light);
	text-decoration: none;
}

.footer-nav-down-link:hover{
	text-decoration: underline;
}

.footer-nav-down-link:focus{
	color: var(--special-beige-light-faded);
	text-decoration: none;
}

.main-footer-down{
	background: var(--basic-dark-blue-darker);
}

.copyright{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.socials-list{
	list-style: none;
}

.feedback{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.feedback-link{
	font-size: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
	text-decoration: none;
}

.feedback-link:hover{
	text-decoration: underline;
}

.feedback-link:focus{
	color: var(--special-red-light);
	text-decoration: none;
}

.developed{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.developed-link{
	font-size: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
	text-decoration: none;
}

.developed-link:hover{
	text-decoration: underline;
}

.developed-link:focus{
	color: var(--special-red-light);
	text-decoration: none;
}

/*---Catalog---*/

.catalog-body{
	font-family: "Cuprum";
	background-color: var(--white);
}

.profile-name{
	background-color: var(--white);
	font-size: 21px;
	line-height: 21px;
	color: var(--black);
	text-decoration: none;
}

.profile-name:hover{

}

.profile-name:focus{
	color: var(--basic-greylight);
}

.my-orders{
	color: var(--basic-dark-blue);
	text-decoration: none;
}

.dot{
	color: var(--basic-dark-blue);
}

.my-cabinet{
	color: var(--basic-dark-blue);
	text-decoration: none;
}

.my-orders:hover, .my-cabinet:hover{
	color: var(--basic-red);
}

.my-orders:focus, .my-cabinet:focus{
	color: var(--basic-greylight);
}

.breadcrumbs{
	list-style: none;
	color: var(--black);
}

.breadcrumbs-item{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--black);
}

.catalog-title{
	background-color: var(--basic-background-light);
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}

.filter-filter{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: var(--special-beige-dull);
	border-radius: 5px;
}

.filter-price{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}

.filter-range{
	background-color: var(--special-beige-dull);
	border-radius: 5px;
}

.filter-value-field{
	background-color: var(--special-beige-dull);
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.filter-firms{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}

.filter-firms-list{
	list-style: none;
}

.filter-firms-item{
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.filter-powersupply{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}

.filter-powersupply-list{
	list-style: none;
}

.filter-powersupply-item{
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.show-button{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #E5E5E5;
	background-color: var(--special-one-more-grey);
}

.filter-top{
	background-color: var(--special-beige-dull);
	border-radius: 5px;
}

.filter-sort{
	font-family: PT Sans;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
}

.filter-sort-list{
	list-style: none;
}

.filter-sort-by-price{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-red);
	border: none;
	background-color: transparent;
}

.filter-sort-by-type{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--faded-grey);
	border: none;
	background-color: transparent;
	text-decoration: underline dotted var(--basic-red);
}

.filter-sort-by-type:hover, .filter-sort-by-functional:hover{
	color: var(--black);
	text-decoration: underline solid var(--basic-red);
}

.filter-sort-by-functional{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--faded-grey);
	border: none;
	background-color: transparent;
	text-decoration: underline dotted var(--basic-red);
}

.filter-arrows-up{
	border: none;
	background-color: transparent;
}

.filter-arrows-down{
	border: none;
	background-color: transparent;
}

.page-number-list{
	list-style: none;
}

.page-number-current{
	background-color: var(--basic-red);
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	color: var(--white);
	border-radius: 2px;
}

.page-number-item{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	color: var(--black);
	border: 1px solid #E5E5E5;
	border-radius: 2px;
}

.page-number-item:hover{
	border: 1px solid var(--basic-greylight);
}

.page-number-item:focus{
	border: 1px solid var(--basic-red);
}

.few-words{
	background-color: var(--basic-background);
}

.few-words-title{
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.few-words-text{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 24px;
}