
/*   Variables   */

:root{
	--basic-red: #EE3643;
	--basic-red-dark: #CA2C37;
	--basic-dark-blue: #32425C;
	--basic-dark-blue-darker: #293449;
	--darkest-blue: #161D29;
	--basic-green: #63A63E;
	--basic-grey: #3D546F;
	--basic-greylight: #C5C5C5;
	--basic-background: #F1F5F7;
	--basic-background-light: #F2F6F8;
	--basic-background-faded: rgba(241, 245, 247, 0.5);
	--white: #FFF;
	--black: #000;
	--faded-white: rgba(255, 255, 255, 0.5);
	--faded-grey:  rgba(0, 0, 0, 0.3);
	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-yellow-lighten: #FFC047;
	--special-blue-dark: #1D2739;
	--special-background-light: #F3F7F9;
	--special-one-more-grey: #E5E5E5;
	--special-grey-light: #EAEAEA;
	--special-beige: #F9F5F0;
	--special-beige-dull: #F7F3EC;
	--special-beige-light: #FFDA96;
	--special-beige-light-faded: rgba(255, 218, 150, 0.5);
	--special-grey: #A9A9A9;
	--special-blue-inset: #405069;
	--special-red-credit: #FF5357;
	--success: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
	--main-logo-shadow: #B52933;
	--main-logo-shadow-dark: #8E1E26;
	--bar-toggle-gray: #ababab;
	--bar-toggle-shadow: #cfcfcf;
	--range-controls-scale: #d7dcde;
	--bar-green: #00ca74;
}

/*   Font-Cuprum   */

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprum.woff2") format("woff2"), 
  		url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumbold.woff2") format("woff2"), 
  		url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumbolditalic.woff2") format("woff2"), 
  		url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: 
  		url("../fonts/cuprumitalic.woff2") format("woff2"), 
  		url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*   Font-Pt-sans   */

@font-face {
    font-family: "PT Sans";
    src: 
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src:
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/*   Buttons   */

.red-button{
	display: block;
	width: 192px;
	padding: 11px 0 9px 0;
	background-color: var(--basic-red);
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
}

.red-button-services{
	display: block;
	width: 195px;
	padding: 10px 0;
	margin-top: 25px;
	border-radius: 2px;
	background-color: var(--special-red-credit);
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
}

.red-button:hover{
	background: var(--basic-red-dark);
}

.red-button:focus{
	background: var(--error);
}

.white-button:hover{
	color: var(--basic-red);
}

.white-button:focus{
	color: var(--basic-greylight)
}

/*   Global   */

.page-body{
	position: relative;
	font-family: "Cuprum";
	background-color: var(--white);
}

/*   Header   */

.main-header{
	background-color: var(--basic-background);
}

.main-header-top{
	background-color: var(--basic-dark-blue-darker);
}

.main-header-logo{
	position: relative;
	background: var(--basic-red);
	text-align: center;
	vertical-align: middle;
	padding-top: 12px;
}

.main-header-logo::after{
	position: absolute;
	display: block;
	content: "";
	background-color: var(--main-logo-shadow);
	width: 100%;
	height: 5px;
	bottom: -5px;
}

.main-header-logo:focus::after{
	background: var(--main-logo-shadow-dark);
}

.main-header-logo:focus{
	background: var(--error);
}

input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
  display: none;
}	/*Законно ли такое решение?(Убираю крестик в поле)*/

.search{
	position: relative;
	padding-left: 41px;
}

.search-icon{
	position: absolute;
	top: 12px;
	left: 17px;
	fill: var(--white);
	opacity: 0.3;
}

.search:hover .search-icon{
	opacity: 1;
}

.search input{
	width: 100%;
	height: 100%;
	background-color: inherit;
	border: none;
	outline: none;
	font-family: Cuprum;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	color: white;
}

.search input::placeholder{
	font-family: Cuprum;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	color: var(--white);
}

.search input:hover{
	cursor: pointer;
}

.search input:focus{
	background-color: var(--white);
}

.search:focus-within{
	background-color: var(--white);
}

.search:focus-within input{
	color: black;
}

.search:focus-within .search-icon{
	fill: var(--basic-red);
	opacity: 1;
}

.bookmarks{
	position: relative;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
	padding: 9px 0;
	padding-left: 18px;
	text-align: center;
}

.bookmarks:hover::before{
	opacity: 1;
}

.bookmarks::before{
	content: "";
	position: absolute;
	left: 20px;
	bottom: 13px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmarks:focus::before{
	opacity: 0.3;
}

.bookmarks:focus{
	color: var(--faded-white);
	background-color: var(--darkest-blue);
}

.basket{
	position: relative;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
	padding: 9px 0;
	padding-left: 49px;
}

.basket::before{
	content: "";
	position: absolute;
	left: 26px;
	bottom: 14px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket:hover::before{
	opacity: 1;
}

.full{
	background-color: var(--basic-red);
}

.basket:focus{
	color: var(--faded-white);
	background-color: var(--darkest-blue);
}

.basket:focus::before{
	opacity: 0.3;
}

.order{
	background: var(--basic-green);
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
	text-decoration: none;
	color: var(--white);
	padding: 9px 0;
}

.order:hover{
	background: var(--success);
}

.order:focus{
	background: var(--basic-green);
	color: var(--faded-white);
}

.main-title{
	width: 197px;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	margin: 0;
	padding-top: 42.5px;
	padding-left: 30px;
	padding-bottom: 44.5px;
}

.header-bottom-center{
	padding: 46px 0 40px 0;
	margin-left: 24px;
}

.header-phone{
	width: 270px;
	position: relative;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	color: var(--basic-red);
	box-sizing: border-box;
	background: var(--special-background-light);
	border: 3px solid var(--white);
	padding: 4px 41px 5px 70px;
	margin-bottom: 3px;
}

.header-phone::before{
	content: "";
	position: absolute;
	left: 36px;
	bottom: 10px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-address{
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: var(--basic-dark-blue);
}

.header-bottom-right{
	padding: 46px 0 67px 0;
}

.white-button-login{
	display: block;
	position: relative;
	background-color: var(--white);
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: var(--black);
	padding: 12px 27px 12px 45px;
}

.white-button-login-icon{
	position: absolute;
	left: 19px;
	top: 14px;
	fill: var(--basic-greylight);
}

.white-button-login:hover{
	color: var(--basic-red);
}

.white-button-login:hover .white-button-login-icon{
	fill: var(--basic-grey);
}

.white-button-login:focus{
	color: var(--basic-greylight);
}

.white-button-login:focus .white-button-login-icon{
	fill: var(--basic-greylight);
}

.white-button-register{
	display: block;
	background-color: var(--white);
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: var(--black);
	padding: 12px 24px;
}

.white-button-register:hover{
	color: var(--basic-red);
}

.white-button-register:focus{
	color: var(--basic-greylight);
}

.main-nav{
	background-color: var(--basic-dark-blue);
	box-shadow: inset 0px -5px 0px var(--basic-dark-blue-darker);
}

.site-nav{
	list-style: none;
	padding: 0 34px;
	margin: 0;
}

.nav-link{
	display: block;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: var(--white);
	padding: 16px 26px 20px 26px;
}

.nav-link:hover{
	background: var(--basic-dark-blue-darker);
}

.nav-link:focus{
	background: var(--special-blue-dark);
	color: var(--faded-white);
}

/*   Main   */

.container{
	padding-top: 58px;
}

.offers{
	padding-bottom: 58px;
}

.offers-list-top{
	list-style: none;
	padding: 0;
	margin: 0;
}

.offers-list-bottom{
	list-style: none;
	padding: 0;
}

.offers-item{
	padding: 18.5px 0 23px 18.5px;
}

.offers-item-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--white);
	margin: 0;
	padding-bottom: 14px;
}

.offers-item-link{
	display: block;
	width: 135px;
	padding: 10px 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: var(--white);
	text-transform: uppercase;
}

.offers-item-link:hover{
	background: rgba(197, 197, 197, 0.3);
}

.offers-item-link:focus{
	background: rgba(169, 169, 169, 0.3);
}

.offers-wrapper-top .offers-item:nth-of-type(1){
	position: relative;
	background-color: var(--special-yellow);
}

.offers-wrapper-top .offers-item:nth-of-type(1)::before{
	position: absolute;
	content: "";
	width: 44px;
	height: 65px;
	top: 33px;
	right: 43px;
	background: url(../img/icon-1.svg);
}

.offers-wrapper-top .offers-item:nth-of-type(2){
	position: relative;
	background-color: var(--special-blue);
}

.offers-wrapper-top .offers-item:nth-of-type(2)::before{
	position: absolute;
	content: "";
	width: 75px;
	height: 61px;
	top: 36px;
	right: 31px;
	background: url(../img/icon-2.svg);
}

.offers-wrapper-top .offers-item:nth-of-type(3){
	position: relative;
	background-color: var(--special-lilac);
}

.offers-wrapper-top .offers-item:nth-of-type(3)::before{
	position: absolute;
	content: "";
	width: 78px;
	height: 62px;
	top: 33px;
	right: 31px;
	background: url(../img/icon-3.svg);
}

.offers-wrapper-bottom .offers-item:nth-child(1){
	position: relative;
	background-color: var(--special-greenlight);
}

.offers-wrapper-bottom .offers-item:nth-of-type(1)::before{
	position: absolute;
	content: "";
	width: 59px;
	height: 72px;
	top: 26px;
	right: 45px;
	background: url(../img/icon-4.svg);
}

.offers-wrapper-bottom .offers-item:nth-child(2){
	position: relative;
	background-color: var(--special-yellow-lighten);
}

.offers-wrapper-bottom .offers-item:nth-of-type(2)::before{
	position: absolute;
	content: "";
	width: 78px;
	height: 63px;
	top: 30px;
	right: 31px;
	background: url(../img/icon-5.svg);
}

.slider{
	position: relative;
	vertical-align: bottom;
}

.slider-item{
	height: 266px;
}

.slide-1{
	background: url(../img/sliderperforatori.jpg)
}

.slide-2{
	background: url(../img/sliderperforatori.jpg)
}

.slider-top{
	background-color: rgba(0, 0, 0, 0.25);
	padding: 23px 0 16px 24px;
}

.slider-title{
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--white);
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 5px;
}

.slider-text{
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	margin: 0;
}

.slider-arrow-left{
	position: absolute;
	border: none;
	background-color: transparent;
	padding: 0;
	top: 122px;
	left: 24px;
}

.slider-arrow-right{
	position: absolute;
	border: none;
	background-color: transparent;
	transform: scale(-1, 1);
	padding: 0;
	top: 122px;
	right: 20px;
}

.slider-button{
	position: absolute;
	top: 201px;
	left: 24px;
}

.slider-radio{
	position: absolute;
	top: 217px;
	left: 294px;
}

.slider-radio input{
	width: 12px;
	height: 12px;
}

.slider-radio input:last-child{
	margin-left: 4px;
}

.products-list{
	list-style: none;
	padding: 0;
	margin: 0 0 48px 0;
}

.products-list-popular{
	list-style: none;
	padding: 0;
}

.popular-firms-list{
	list-style: none;
	padding: 0;
}

.products-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--white);
	border: 1px solid var(--special-grey-light);
	font-family: "PT Sans";
	font-weight: bold;
	padding-bottom: 21px;
	overflow: hidden;
}

.products-item:hover{
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.products-item:hover .products-buttons{
	display: flex;
}

.products-item:hover img{
	display: none;
}

.products-info{
	display: flex;
	flex-direction: column;
	width: 185px;
}

.products-photo{
	position: relative;
	display: flex;
	height: 177px;
	align-items: center;
}

.products-buttons{
	margin-top: -10px;

	display: none;
	flex-direction: column;
	width: 135px;
	font-family: Cuprum;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
}

.buy{
	position: relative;
	border: none;
	padding: 10px 0 10px 0;
	text-align: left;
	padding-left: 53px;
	margin-bottom: 10px;
	background: var(--basic-green);
	box-shadow: inset 0px -3px 0px #367315;
	border-radius: 2px;
	color: var(--white);
	text-transform: uppercase;
}

.buy::before{
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 30px;
	top: 10px;
	background-image: url(../img/icon-cart.svg);
	opacity: 0.3;
}

.buy:hover{
	background-color: var(--success);
	cursor: pointer;
}

.buy:focus{
	outline: none;
	background-color: #518534;
}

.add{
	padding: 8px 0 6px 0;
	border: 3px solid var(--basic-green);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--basic-dark-blue);
	text-transform: uppercase;
	background-color: transparent;
}

.add:hover{
	cursor: pointer;
	border-color: var(--basic-dark-blue);
}

.add:focus{
	outline: none;
	opacity: 0.5;
}

.new::after{
	position: absolute;
	content: "NEW";
	font-family: Cuprum;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: var(--white);
	right: -27px;
	top: 8px;
	width: 100px;
	padding: 6px 0;
	background-color: var(--basic-red);
	transform: rotate(45deg);
}

.products-title{
	text-align: center;
	padding-bottom: 7px;
	margin: 0;
}

.popular-firms-item{
	background: var(--white);
	border: 1px solid var(--special-grey-light);
	margin-top: 10px;
}

.popular-firms-item:hover{
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-firms-item:focus{
	opacity: 0.5;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-header{
	background: var(--special-beige);
	padding: 25px 14px 26px 28px;
}

.popular-header-firms{
	background: var(--special-beige);
	padding: 24px 19px 27px 28px;
	margin-bottom: 20px;
}

.popular-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-dark-blue);
	font-weight: normal;
	margin: 0;
}

.products-last-price{
	color: var(--special-grey);
	text-decoration: line-through;
	text-align: center;
	padding-bottom: 13px;
}

.products-no-price{
	padding-bottom: 30px;
}

.products-price{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: PT Sans;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0px;
	width: 133px;
	height: 38px;
	background-color: var(--basic-red);
	color: var(--white);
	border-radius: 3px;
	margin-bottom: 21px;
	margin-left: 28px;
}

.products-price::after{
	content: "";
	position: absolute;
	right: -27px;
	border: 19px solid white;
	border-left-color: var(--basic-red);
}

.services{
	background: var(--basic-background);
	padding: 66px 0 100px 0
}

.services-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 25px;
}

.services-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

.services-buttons-list{
	position: relative;
	list-style: none;
	padding: 0;
	padding-top: 70px;
	margin: 0;
}

.services-buttons-list::after{
	position: absolute;
	content: "";
	width: 10px;
	height: 279px;
	right: 0;
	top: 21px;
	background: url(../img/shadow.png);
}

.services-button{
	width: 240px;
	background: var(--basic-dark-blue);
	border: none;
	box-shadow: none;
	text-align: left;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--white);
	padding: 13.5px 0 17.5px 22px;
	box-shadow: 0px 1px 0px 0px var(--basic-dark-blue-darker);
	box-shadow: 0px 1px 0px 0px var(--special-blue-inset) inset;

}

.services-button:hover{
	background:var(--basic-dark-blue-darker);
}

.services-button:focus{
	outline: none;
}

.selected{
	color: var(--basic-dark-blue);
	background: var(--white);
	box-shadow: 0px 1px 0px 0px var(--white);
}

.services-button-selected{
	position: relative;
	padding-left: 80px;
	padding-top: 67px;
	width: 331px;
}

.delivery::after{
	position: absolute;
	content: "";
	width: 468px;
	height: 261px;
	top: 88px;
	left: 231px;
	background-image: url(../img/truck.png);
}

.guarantee::after{
	position: absolute;
	content: "";
	width: 468px;
	height: 261px;
	top: 70px;
	left: 320px;
	background-image: url(../img/guarantee.png);
}

.credit::after{
	position: absolute;
	content: "";
	width: 465px;
	height: 285px;
	top: 65px;
	left: 246px;
	background-image: url(../img/credit.png);
}

.services-button-selected-title{
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-dark-blue);
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 30px;
}

.services-button-selected-text{
	font-family: PT Sans;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	margin: 0;
}

.main-bottom-wrapper{
	padding: 70px 0;
}

.about-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 24px 0;
	font-family: Cuprum;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: left;
}

.about-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	margin: 0;

}

.about-list{
	margin: 3px 0 20px 0;
	padding-left: 37px;
	list-style: none;
}

.about-list-item{
	position: relative;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0px;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: 400;
}

.about-list-item::before{
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
	left: -37px;
	top: 12px;
}

.about-button{
	width: 220px;
}

.contacts-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 24px 0;
}

.contacts-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	margin: 0 0 32px 0;	
}

.contacts-map{
	margin-bottom: 21px;
}

.contacts-button{
	width: 100%;
}

/*   Footer   */

.main-footer{
	background: var(--basic-dark-blue);
}

.main-footer-top{
	padding-bottom: 54px;
}

.main-footer-logo{
	display: block;
	text-align: center;
	vertical-align: middle;
	width: 220px;
	height: 68px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer-logo:focus{
	background: var(--error);
	box-shadow: inset 0px -5px 0px var(--main-logo-shadow-dark);
}

.main-footer-logo svg{
	padding-top: 20px;
}

.footer-address{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	color: var(--basic-background);
	margin: 23px 0 0 3px;
}

.footer-phone{
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-background);
}

.footer-nav{
	margin-top: 37px;
}

.footer-nav li{
	padding-left: 60px;
}

.footer-nav-up{
	list-style: none;
	margin: 0;
	margin-right: -2px;
	padding: 0;
}

.footer-nav-up-link{
	color: var(--basic-background);
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	padding: 0;
}

.footer-nav-up-link:hover{
	text-decoration: underline;
}

.footer-nav-up-link:focus{
	color: var(--basic-background-faded);
	text-decoration: none;
}

.footer-nav-down{
	list-style: none;
	margin: 34px 0 0 24px;
	padding: 0;
}

.footer-nav-down-link{
	color: var(--special-beige-light);
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
}

.footer-nav-down-link:hover{
	text-decoration: underline;
}

.footer-nav-down-link:focus{
	color: var(--special-beige-light-faded);
	text-decoration: none;
}

.main-footer-down{
	background: var(--basic-dark-blue-darker);
}

.copyright{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
	margin: 0;
	padding: 36px 0 34px 0;
}

.socials-list{
	list-style: none;
	margin: 0;
	margin-left: 94px;
	padding: 34px 0 29px 0;
}

.socials-list-item{
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	background: url(../img/circle-shape.svg) no-repeat;
}

.socials-list-item svg{
	fill: #212A3A;
}

.socials-list-item:hover svg{
	fill: var(--basic-red);
}

.socials-list-item:focus svg{
	fill: var(--basic-red);
}

.vk::after{
	position: absolute;
	content: "";
	width: 26px;
	height: 15px;
	background: url(../img/icon-vk.svg) no-repeat;
	top: 14px;
	left: 8px;
}

.fb::after{
	position: absolute;
	content: "";
	width: 12px;
	height: 22px;
	background: url(../img/icon-fb.svg) no-repeat;
	top: 11px;
	left: 16px;
}

.inst::after{
	position: absolute;
	content: "";
	width: 21px;
	height: 21px;
	background: url(../img/icon-insta.svg) no-repeat;
	top: 11px;
	left: 12px;
}

.feedback{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.feedback-link{
	font-size: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
	text-decoration: none;
}

.feedback-link:hover{
	text-decoration: underline;
}

.feedback-link:focus{
	color: var(--basic-red);
	text-decoration: none;
}

.developed{
	font-size: 16px;
	line-height: 18px;
	color: var(--white);
}

.developed-link{
	font-size: 16px;
	line-height: 18px;
	color: var(--special-yellowlight);
	text-decoration: none;
}

.developed-link:hover{
	text-decoration: underline;
}

.developed-link:focus{
	color: var(--basic-red);
	text-decoration: none;
}

/*---Catalog---*/

.catalog-body{
	font-family: "Cuprum";
	background-color: var(--white);
}

.header-bottom-center-footer{
	padding: 46px 0 40px 0;
	margin-left: 41px;
	display: flex;
	flex-direction: column;
}

.header-bottom-right-footer{
	padding: 46px 0 42px 0;
}

.profile-name{
	position: relative;
	display: block;
	background-color: var(--white);
	font-size: 21px;
	line-height: 21px;
	color: var(--black);
	text-decoration: none;
	padding: 12px 17px 12px 14px;
}

.profile-name:focus{
	color: var(--basic-greylight);
}

.user-icon{
	fill: var(--basic-greylight);
	padding-right: 16px;
}

.profile-name:hover .user-icon{
	fill: var(--basic-grey);
}

.profile-name:focus .user-icon{
	fill: var(--basic-greylight);
}

.logout-icon{
	fill: var(--basic-greylight);
	padding-left: 15px;
}

.profile-name:hover .logout-icon{
	fill: var(--basic-grey);
}

.profile-name:focus .logout-icon{
	fill: var(--basic-greylight);
}

.header-bottom-right-personal{
	/*padding-top: 7px;*/
	justify-content: center;
}

.my-orders{
	color: var(--basic-dark-blue);
	text-decoration: none;
	padding-top: 7px;
	padding: 6px 14px 0 0;
}

.dot{
	color: var(--basic-dark-blue);
	padding-top: 7px;
}

.my-cabinet{
	color: var(--basic-dark-blue);
	text-decoration: none;
	padding-top: 7px;
	padding: 7px 0px 0px 13px;
}

.my-orders:hover, .my-cabinet:hover{
	color: var(--basic-red);
}

.my-orders:focus, .my-cabinet:focus{
	color: var(--basic-greylight);
}

.breadcrumbs{
	position: relative;
	list-style: none;
	color: var(--black);
	padding: 21px 0 20px 34px;
}

.breadcrumbs::before{
	position: absolute;
	content: "";
	width: 14px;
	height: 12px;
	top: 24px;
	left: 17px;
	background-image: url("../img/icon-home.svg");
}

.breadcrumbs-item{
	position: relative;
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--black);
	padding-left: 40px;
}

.breadcrumbs-item::before{
	position: absolute;
	content: "";
	width: 8px;
	height: 12px;
	top: 3px;
	left: 18px;
	background-image: url("../img/icon-right-small.svg");
	
}

.catalog-title{
	background-color: var(--basic-background-light);
	color: var(--basic-dark-blue);
	font-weight: normal;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	padding: 29px 0 30px 30px;
	box-sizing: border-box;
}

.catalog-products{
	padding: 20px 0 59px 0;
}

.filter-title{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: var(--special-beige-dull);
	border-radius: 5px;
	margin: 0;
	padding: 10px 0;
	padding-left: 18px;
}

.filter-item {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid var(--special-one-more-grey);
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.filter-item legend {
	font-family: PT Sans;
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
	padding-top: 11px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
  padding: 39px 20px;
  border-radius: 5px;
  background-color: var(--special-beige-dull);
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-scale);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background: var(--bar-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--bar-toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--bar-toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls label {
  font-family: PT Sans;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
}

.price-controls input {
  width: 95px;
  padding: 10px 0;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: var(--special-beige-dull);
  font-family: inherit;
  font-size: inherit;
}

.filter-dash{
	font-family: PT Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.developers-wrapper{
	padding-top: 15px;
}

.checkbox-input{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.checkbox-input:checked + .checkbox-icon{
	width: 27px;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.28499 7.48598L4.45599 10.315L12.239 18.098L26.171 4.16598L23.343 1.33698L12.239 12.439L7.28499 7.48598Z" fill="%23C5C5C5"/%3E%3Cpath d="M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z" fill="%23C5C5C5"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.checkbox-input:hover + .checkbox-icon{
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.16241 0H20.1624C21.8124 0 23.1624 1.35 23.1624 3V20C23.1624 21.65 21.8124 23 20.1624 23H3.16241C1.51241 23 0.162415 21.65 0.162415 20V3C0.162415 1.35 1.51241 0 3.16241 0ZM21.1624 3C21.1624 2.458 20.7044 2 20.1624 2H3.16241C2.62041 2 2.16241 2.458 2.16241 3V20C2.16241 20.542 2.62041 21 3.16241 21H20.1624C20.7044 21 21.1624 20.542 21.1624 20V3Z" fill="%23B5B5B5"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.checkbox-input:checked:hover + .checkbox-icon{
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.44741 7.48604L4.61841 10.315L12.4014 18.098L26.3334 4.16604L23.5054 1.33704L12.4014 12.439L7.44741 7.48604Z" fill="%23B5B5B5"/%3E%3Cpath d="M21.1624 20C21.1624 20.542 20.7044 21 20.1624 21H3.16241C2.62041 21 2.16241 20.542 2.16241 20V3C2.16241 2.458 2.62041 2 3.16241 2H20.0704L21.6554 0.415C21.2034 0.146542 20.6881 0.00329969 20.1624 0H3.16241C1.51241 0 0.162415 1.35 0.162415 3V20C0.162415 21.65 1.51241 23 3.16241 23H20.1624C21.8124 23 23.1624 21.65 23.1624 20V10.171L21.1624 12.171V20Z" fill="%23B5B5B5"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.checkbox-input:disabled + .checkbox-icon{
	width: 27px;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg opacity="0.3"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.16241 0H20.1624C21.8124 0 23.1624 1.35 23.1624 3V20C23.1624 21.65 21.8124 23 20.1624 23H3.16241C1.51241 23 0.162415 21.65 0.162415 20V3C0.162415 1.35 1.51241 0 3.16241 0ZM21.1624 3C21.1624 2.458 20.7044 2 20.1624 2H3.16241C2.62041 2 2.16241 2.458 2.16241 3V20C2.16241 20.542 2.62041 21 3.16241 21H20.1624C20.7044 21 21.1624 20.542 21.1624 20V3Z" fill="%23B5B5B5"/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.checkbox-input:checked:disabled + .checkbox-icon{
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg opacity="0.3"%3E%3Cpath d="M7.44741 7.48604L4.61841 10.315L12.4014 18.098L26.3334 4.16604L23.5054 1.33704L12.4014 12.439L7.44741 7.48604Z" fill="%23B5B5B5"/%3E%3Cpath d="M21.1624 20C21.1624 20.542 20.7044 21 20.1624 21H3.16241C2.62041 21 2.16241 20.542 2.16241 20V3C2.16241 2.458 2.62041 2 3.16241 2H20.0704L21.6554 0.415C21.2034 0.146542 20.6881 0.00329969 20.1624 0H3.16241C1.51241 0 0.162415 1.35 0.162415 3V20C0.162415 21.65 1.51241 23 3.16241 23H20.1624C21.8124 23 23.1624 21.65 23.1624 20V10.171L21.1624 12.171V20Z" fill="%23B5B5B5"/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.checkbox-item{
	padding-left: 35px;
}

.checkbox-icon{
	position: absolute;
	margin-left: -35px;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filter-firms{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 0;
}

.filter-firms-list{
	list-style: none;
	margin: 0;
	padding: 17px 0 9px 0;
	border-bottom: 1px solid var(--special-one-more-grey);
}

.filter-firms-item{
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	padding-bottom: 21px;
}

.filter-powersupply{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 17px 0 20px 0;
	margin: 0;
}

.filter-powersupply-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-powersupply-item{
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	padding-bottom: 23px;
}

.radio-item{
	padding-left: 35px;
}

.radio-icon{
	position: absolute;
	margin-left: -35px;
	width: 25px;
	height: 25px;
	background-image: url('data:image/svg+xml,%3Csvg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.162354 12.5C0.162354 5.597 5.75935 0 12.6624 0C19.5654 0 25.1624 5.597 25.1624 12.5C25.1624 19.403 19.5654 25 12.6624 25C5.75935 25 0.162354 19.403 0.162354 12.5ZM21.1624 12.5C21.1624 7.813 17.3494 4 12.6624 4C7.97535 4 4.16235 7.813 4.16235 12.5C4.16235 17.187 7.97535 21 12.6624 21C17.3494 21 21.1624 17.187 21.1624 12.5Z" fill="%23C5C5C5"/%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.radio-input{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.radio-input:checked + .radio-icon{
	width: 27px;
	background-image: url('data:image/svg+xml,%3Csvg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M0.162415 12.5C0.162415 5.597 5.75941 0 12.6624 0C19.5654 0 25.1624 5.597 25.1624 12.5C25.1624 19.403 19.5654 25 12.6624 25C5.75941 25 0.162415 19.403 0.162415 12.5ZM21.1624 12.5C21.1624 7.813 17.3494 4 12.6624 4C7.97541 4 4.16241 7.813 4.16241 12.5C4.16241 17.187 7.97541 21 12.6624 21C17.3494 21 21.1624 17.187 21.1624 12.5Z" fill="%23C5C5C5"/%3E%3Cpath d="M12.6624 17C15.1477 17 17.1624 14.9853 17.1624 12.5C17.1624 10.0147 15.1477 8 12.6624 8C10.1771 8 8.16241 10.0147 8.16241 12.5C8.16241 14.9853 10.1771 17 12.6624 17Z" fill="%23C5C5C5"/%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.radio-input:hover + .radio-icon{
	background-image: url('data:image/svg+xml,%3Csvg width="26" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M.2 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.5 8.5 0 10-17 0 8.5 8.5 0 0017 0z" fill="%23B5B5B5"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.radio-input:checked:hover + .radio-icon{
	background-image: url('data:image/svg+xml,%3Csvg width="26" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M.2 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.5 8.5 0 10-17 0 8.5 8.5 0 0017 0z" fill="%23B5B5B5"/%3E%3Cpath d="M12.7 17a4.5 4.5 0 100-9 4.5 4.5 0 000 9z" fill="%23B5B5B5"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.radio-input:disabled + .radio-icon{
	width: 27px;
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.2 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.5 8.5 0 10-17 0 8.5 8.5 0 0017 0z' fill='%23B5B5B5' opacity='.3'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

.radio-input:checked:disabled + .radio-icon{
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' fill='%23B5B5B5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.2 12.5a12.5 12.5 0 1125 0 12.5 12.5 0 01-25 0zm21 0a8.5 8.5 0 10-17 0 8.5 8.5 0 0017 0z'/%3E%3Cpath d='M12.7 17a4.5 4.5 0 100-9 4.5 4.5 0 000 9z'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

.show-button{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid var(--special-one-more-grey);
	background-color: var(--white);
	padding: 10px 0;
	margin-top: 12px;
}

.sort{
	background-color: var(--special-beige-dull);
	border-radius: 5px;
	padding: 0 16px 0 20px;
	margin-bottom: 26px;
}

.sort-title{
	font-family: PT Sans;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
}

.sort-attributes{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sort-by-price{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--faded-grey);
	border: none;
	background-color: transparent;
	text-decoration: underline dotted var(--basic-red);
	text-underline-position: under;
	padding: 10px 0;
	margin-right: 70px;
}

.sort-by-type{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--faded-grey);
	border: none;
	background-color: transparent;
	text-decoration: underline dotted var(--basic-red);
	text-underline-position: under;
	padding: 10px 0;
	margin-right: 65px;
}

.sort-by-type:hover, .sort-by-functional:hover{
	color: var(--black);
	text-decoration: underline solid var(--basic-red);
}

.sort-by-functional{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--faded-grey);
	border: none;
	background-color: transparent;
	text-decoration: underline dotted var(--basic-red);
	text-underline-position: under;
	padding: 10px 0;
	margin-right: 46px;
}

.active{
	color: var(--basic-red);
	text-decoration: none;
}

.sort-arrows-up svg{
	fill: var(--basic-greylight);
}

.sort-arrows-up svg:hover{
	fill: var(--black);
}

.active svg{
	fill: var(--basic-red);
}

.sort-arrows{
	padding: 8px 0 0px 0;
}

.sort-arrows-up{
	border: none;
	background-color: transparent;
	padding: 0;
}

.sort-arrows-down{
	border: none;
	background-color: transparent;
	padding: 0;
	margin-left: 17px;
}

.sort-arrows-down svg{
	fill: var(--basic-greylight);
}

.sort-arrows-down svg:hover{
	fill: var(--black);
}

.page-number-list{
	list-style: none;
	padding: 0 0 0 0;
	margin: 0;
}

.page-number-item{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	color: var(--black);
	border: 1px solid var(--special-one-more-grey);
	border-radius: 2px;
	display: block;
	padding: 10px 15px;
	margin-right: 10px;
	box-sizing: border-box;
}

.current{
	background-color: var(--basic-red);
	border: none;
	color: var(--white);
	padding: 11px 16px;
}

.next{
	padding: 10px 31px 10px 32px;
	text-transform: uppercase;
}

.page-number-item:hover{
	border: 1px solid var(--basic-greylight);
}

.current:hover{
	border: none;
}

.page-number-item:focus{
	border: 1px solid var(--basic-red);
}

.current:focus{
	border: none;
}

.few-words-wrapper{
	background-color: var(--basic-background);
	padding: 64px 0 68px 0;
}

.few-words-title{
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}

.few-words-text{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

/*---Grids---*/

.center{
	width: 940px;
	margin: 0 auto;
}

.page {
	height: 100%;
}

.page-body{
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header{
	padding-bottom: 60px;
}

.main-header-top-bar{
	background-color: var(--basic-dark-blue-darker);
}

.main-header-top{
  	display: grid;
	grid-template-columns: 220px 270px 150px 150px 150px;
}

.header-bottom-wrapper{
  	display: flex;
  	justify-content: space-between;
  	align-content: flex-start; 
}

.header-bottom-center{
	display: flex;
	flex-direction: column;
}

.header-bottom-right{
	width: 281px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.site-nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.offers-list-top{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.offers-wrapper-bottom{
	display: grid;
	grid-template-columns: 620px 1fr;
	gap: 20px;
	padding-top: 20px;
}

.offers-list-bottom{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	margin: 0;
}

.popular-products{
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.popular-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.popular-header-firms{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.products-list-popular{
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popular-firms{
	display: flex;
	flex-direction: column;
	margin-bottom: 70px; 
}

.popular-firms-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0;
	gap: 20px;
}

.popular-firms-item{
	width: 220px;
	height: 145px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 0;
}

.services-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.services-bottom-wrapper{
	display: flex;
}

.main-bottom-wrapper{
	display: flex;
	justify-content: space-between;
}

.contacts{
	display: flex;
	flex-direction: column;
}

.main-footer-top-wrapper{
	display: flex;
	justify-content: space-between;
}

.footer-nav{
	display: flex;
	flex-direction: column;
}

.footer-nav-up{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-nav-down{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-footer-down-wrapper{
	display: flex;
	justify-content: space-between;
}

.socials-list{
	display: flex;
	flex-wrap: wrap;
}

.main-footer-down-right{
	display: flex;
	flex-wrap: wrap;
	padding: 35px 0;
	padding-right: 14px;
}

.main-footer-down-text{
	display: flex;
	flex-direction: column;
	padding-left: 51px;
}

/*---Grids_Catalog---*/

.header-bottom-right-personal{
	display: flex;
}

.breadcrumbs{
	display: flex;
	flex-wrap: wrap;
}

.catalog-products{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.catalog-left{
	width: 220px;
	display: flex;
	flex-direction: column;
}

.catalog-right{
	box-sizing: border-box;
}

.sort{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 700px;
}

.sort-attributes{
	display: flex;
	flex-wrap: wrap;
}

.products-list{
	padding: 0;
	padding-bottom: 43px;
	margin: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px;
	width: 100%;
	gap: 20px;
}

.products-item{
	padding: 0;
	margin: 0;
	width: 220px;
	box-sizing: border-box;
}

.page-number-list{
	display: flex;
	flex-wrap: wrap;
}

.hidden{
	display: none;
}

/*   Modal   */

.modal{
	border-top: 7px solid #FF5257;
	position: fixed;
	margin:auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	width: 620px;
	height: 430px;
	box-sizing: border-box;
	background-color: var(--white);
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}

.modal-close::before, .modal-close::after{
	position: absolute;
	content: "";
	background-color: var(--basic-red);
	width: 25px;
	height: 4px;
	top: 23px;
	right: 9px;
}

.modal-close::before{
	transform: rotate(45deg);
}

.modal-close::after{
	transform: rotate(-45deg);
}

.modal-close:focus{
	outline: none;
}

.modal-inputs-wrapper{
	padding: 39px 80px 33px 80px;
}

.modal-inputs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modal-input-text{
	font-family: Cuprum;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	margin: 0;
	margin-bottom: 11px;
}

.modal-input input{
	width: 220px;
	height: 38px;
	box-sizing: border-box;
	border: 2px solid var(--basic-greylight);
	border-radius: 2px;
	padding: 7px 8px 7px 12px;
}

.modal-input input::placeholder{
	font-family: PT Sans;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}

.modal-letter{
	margin-top: 13px;
}

.modal-letter textarea{
	width: 100%;
	height: 114px;
	box-sizing: border-box;
	border: 2px solid var(--basic-greylight);
	border-radius: 2px;
	padding: 7px 8px 7px 12px;
	resize: none;
}

.modal-letter textarea::placeholder{
	font-family: PT Sans;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
}

.modal-send{
	padding: 37px 80px;
	background-color: #F4F4F4;
}

.modal-send-button{
	width: 100%;
	font-family: Cuprum;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	background-color: var(--basic-red);
	color: var(--white);
	text-transform: uppercase;
	border: none;
	padding: 11px 0 10px 0;
}

/* Map  */

.map-popup{
	border-top: 7px solid #FF5257;
	position: fixed;
	margin: auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
	width: 943px;
	height: 449px;
}

.map-popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
}

.map-popup-close::before, .map-popup-close::after{
	position: absolute;
	content: "";
	background-color: var(--basic-red);
	width: 25px;
	height: 4px;
	top: 9px;
	left: -3px;
	border-radius: 2px;
}

.map-popup-close::before{
	transform: rotate(45deg);
}

.map-popup-close::after{
	transform: rotate(-45deg);
}

.map-popup-close:focus{
	outline: none;
}

/*  Catalog modal  */

.modal-added{
	border-top: 7px solid #FF5257;
	position: fixed;
	margin:auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	width: 620px;
	height: 283px;
	box-sizing: border-box;
	background-color: var(--white);
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
	text-align: center;
}

.modal-added-message{
	padding-top: 66px;
	padding-bottom: 68px;
}

.modal-added-text{
	position: relative;
	font-family: Cuprum;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0px;
	text-align: center;
}

.modal-added-text:before{
	content: "";
	position: absolute;
	top: -19px;
	left: -95px;
	width: 66px;
	height: 66px;
	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-buttons{
	display: flex;
	background-color: #F1F1F1;
	padding: 37px 0;
	justify-content: center;
	gap: 10px;
}

.added-button{
	width: 192px;
	padding-top: 11px;
	padding-bottom: 9px;
	text-transform: uppercase;
	font-family: Cuprum;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	border: none;
}

.create-order{
	background-color: var(--basic-red);
	color: var(--white);
}

.continue{
	background-color: var(--white);
}

.modal-added-close {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
}

.modal-added-close::before, .modal-added-close::after{
	position: absolute;
	content: "";
	background-color: var(--basic-red);
	width: 25px;
	height: 4px;
	top: 10px;
	right: -1px;
	border-radius: 2px;
}

.modal-added-close::before{
	transform: rotate(45deg);
}

.modal-added-close::after{
	transform: rotate(-45deg);
}

.modal-added-close:focus{
	outline: none;
}